<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>ILAN - infogroep lanparty event</title>
	<meta name="keywords" content="infogroep, lanparty, lan, games, gaming, pc, informatica, vub" />
	<meta name="description" content="A LAN-party game event organised by Computer Science students from the Vrije Universiteit Brussel (Free University Brussels)" />
	<link href="template/2008/default.css" rel="stylesheet" type="text/css" />
	<link href="template/2008/layout.css" rel="stylesheet" type="text/css" />
	<link href="template/2008/wiki.css" rel="stylesheet" type="text/css" />
	<script src="template/2008/javascripts.js"></script>
	<script src="template/2008/jquery.min.js"></script>
</head>

<body>
    <div id="wrapper">
        <div id="main-menu" style="font-size:10px">
            <ul>
                <li class="first"><a href="index.php" id="main-menu1" accesskey="1" title="Terug naar de homepage">Home</a></li>
                <li><a href="event.php" id="main-menu2" accesskey="2" title="Event informatie">Event</a></li>
                <!--<li><a href="register.php" id="main-menu3" accesskey="3" title="Registratie">Registratie</a></li>-->
                <li><a href="prices.php?lang=en" id="main-menu3" accesskey="3" title="Food&Drinks">Food&Drinks</a></li>
				<li><a href="participants.php" id="main-menu7" accesskey="4" title="Wie reeds deel neemt">Deelnemers</a></li>
                <li><a href="compos.php" id="main-menu5" accesskey="5" title="Competities tijdens het event">Competities</a></li>
				<li><a href="location.php" id="main-menu6" accesskey="6" title="Wegaanduidingen">Bereikbaarheid</a></li>
                <li><a href="contact.php" id="main-menu7" accesskey="7" title="Vragen? laat ons iets weten">Contacteer ons</a></li>
                <li><a href="faq.php?lang=en" id=main-menu8" accesskey="8" title="Frequently Asked Questions">FAQ</a></li>
                <li><a href="?lang=en" id="main-menu9" accesskey="9" title="English version">English</a></li>
            </ul>
        </div>  
        

        <div id="content">
        	<div id="left">
	<h2>ILAN 2012</h2>
<div id='shortMsgLog'>
<p>
	Viewing last 4 posts. Click <a name="msg" href=#msg onClick="hide('shortMsgLog');show('fullMsgLog');">here</a> for all messages.
</p>
	<table>
		<tr>
			<td>
				<div class='messageTitle'><div class='msgTitle'>SUMO wrestling compo</div></div>
			</td>
		<tr>
		<tr>
			<td> 
				<div class='messageText'> <div class='msgText'>De SUMO compo is van start gegaan.<br />
<br />
Wie tegen het einde van de LAN het hoogste op de ladder is geklommen wint de snoep-prijs!<br />
<br />
De ladder is hier te vinden: <a href="https://docs.google.com/spreadsheet/ccc?key=0AoC-NN9FR59kdEhhUE11aFdIUk9XWV9nNjlZMWRKZXc">spreadsheet</a><br />
<br />
Bij vragen: stalk Ben(nit).</div></div> 
			</td>
		</tr>
		<tr>
			<td align=right>
				<div class='messageTitle'><div class='msgTitle'> By Bennit^ on 18 February 2012. </div></div>
			</td>
		</tr>
	</table>
	<center><hr width=300></center>
	<table>
		<tr>
			<td>
				<div class='messageTitle'><div class='msgTitle'>Momenteel wordt er gespeeld...</div></div>
			</td>
		<tr>
		<tr>
			<td> 
				<div class='messageText'> <div class='msgText'>League of Ledgends wordt gespeeld door clan Blort<br />
<br />
de halve finale van UT3 wordt gespeeld tussen Enermis en Lamalas<br />
<br />
Bennit^ start een BF2 server als opwarming voor de compo van over een paar uurtjes.</div></div> 
			</td>
		</tr>
		<tr>
			<td align=right>
				<div class='messageTitle'><div class='msgTitle'> By Bennit^ on 18 February 2012. </div></div>
			</td>
		</tr>
	</table>
	<center><hr width=300></center>
	<table>
		<tr>
			<td>
				<div class='messageTitle'><div class='msgTitle'>En de flatout winnaar is...</div></div>
			</td>
		<tr>
		<tr>
			<td> 
				<div class='messageText'> <div class='msgText'>Bennit^ heeft de Flatout compo plankgas gewonnen. Kort gevolgd door Enermis en peanutman.<br />
<br />
Velo Si Raptor's auto had helaas vaak last van panne. Misschien is de batterij niet bestand tegen het koude weer?</div></div> 
			</td>
		</tr>
		<tr>
			<td align=right>
				<div class='messageTitle'><div class='msgTitle'> By Bennit^ on 18 February 2012. </div></div>
			</td>
		</tr>
	</table>
	<center><hr width=300></center>
	<table>
		<tr>
			<td>
				<div class='messageTitle'><div class='msgTitle'>ILAN 2012 affiche</div></div>
			</td>
		<tr>
		<tr>
			<td> 
				<div class='messageText'> <div class='msgText'><a href="/images/affiche_ilan_2012.png"><img src="http://lan.infogroep.be/images/affiche_ilan_2012_465x372.png" /></a></div></div> 
			</td>
		</tr>
		<tr>
			<td align=right>
				<div class='messageTitle'><div class='msgTitle'> By Infogroep on 17 January 2012. </div></div>
			</td>
		</tr>
	</table>
	<center><hr width=300></center>
</div>
<div id='fullMsgLog' style="display:none">
	<table>
		<tr>
			<td>
				<div class='messageTitle'><div class='msgTitle'>SUMO wrestling compo</div></div>
			</td>
		<tr>
		<tr>
			<td> 
				<div class='messageText'> <div class='msgText'>De SUMO compo is van start gegaan.<br />
<br />
Wie tegen het einde van de LAN het hoogste op de ladder is geklommen wint de snoep-prijs!<br />
<br />
De ladder is hier te vinden: <a href="https://docs.google.com/spreadsheet/ccc?key=0AoC-NN9FR59kdEhhUE11aFdIUk9XWV9nNjlZMWRKZXc">spreadsheet</a><br />
<br />
Bij vragen: stalk Ben(nit).</div></div> 
			</td>
		</tr>
		<tr>
			<td align=right>
				<div class='messageTitle'><div class='msgTitle'> By Bennit^ on 18 February 2012. </div></div>
			</td>
		</tr>
	</table>
	<center><hr width=300></center>
	<table>
		<tr>
			<td>
				<div class='messageTitle'><div class='msgTitle'>Momenteel wordt er gespeeld...</div></div>
			</td>
		<tr>
		<tr>
			<td> 
				<div class='messageText'> <div class='msgText'>League of Ledgends wordt gespeeld door clan Blort<br />
<br />
de halve finale van UT3 wordt gespeeld tussen Enermis en Lamalas<br />
<br />
Bennit^ start een BF2 server als opwarming voor de compo van over een paar uurtjes.</div></div> 
			</td>
		</tr>
		<tr>
			<td align=right>
				<div class='messageTitle'><div class='msgTitle'> By Bennit^ on 18 February 2012. </div></div>
			</td>
		</tr>
	</table>
	<center><hr width=300></center>
	<table>
		<tr>
			<td>
				<div class='messageTitle'><div class='msgTitle'>En de flatout winnaar is...</div></div>
			</td>
		<tr>
		<tr>
			<td> 
				<div class='messageText'> <div class='msgText'>Bennit^ heeft de Flatout compo plankgas gewonnen. Kort gevolgd door Enermis en peanutman.<br />
<br />
Velo Si Raptor's auto had helaas vaak last van panne. Misschien is de batterij niet bestand tegen het koude weer?</div></div> 
			</td>
		</tr>
		<tr>
			<td align=right>
				<div class='messageTitle'><div class='msgTitle'> By Bennit^ on 18 February 2012. </div></div>
			</td>
		</tr>
	</table>
	<center><hr width=300></center>
	<table>
		<tr>
			<td>
				<div class='messageTitle'><div class='msgTitle'>ILAN 2012 affiche</div></div>
			</td>
		<tr>
		<tr>
			<td> 
				<div class='messageText'> <div class='msgText'><a href="/images/affiche_ilan_2012.png"><img src="http://lan.infogroep.be/images/affiche_ilan_2012_465x372.png" /></a></div></div> 
			</td>
		</tr>
		<tr>
			<td align=right>
				<div class='messageTitle'><div class='msgTitle'> By Infogroep on 17 January 2012. </div></div>
			</td>
		</tr>
	</table>
	<center><hr width=300></center>
	<table>
		<tr>
			<td>
				<div class='messageTitle'><div class='msgTitle'>Registraties binnenkort open</div></div>
			</td>
		<tr>
		<tr>
			<td> 
				<div class='messageText'> <div class='msgText'>Binnen een maand en 1 dag is het zo ver! De LAN-Party.<br />
<br />
IG wordt 30 jaar en ook op de LAN-Party wordt dit gevierd! Je mag je dit jaar onder meer aan volgende zaken verwachten:<br />
- SUMO-worstel competitie<br />
- Wii, PS3 and XBOX kinect games<br />
- Poker<br />
- Call of Duty, Age of Empires, Counterstrike, Worms, Unreal Tournament en nog veel meer.<br />
- Inkom voor 1ste BA CPU WET terug betaald in eet-krediet<br />
<br />
We richten dit jaar onze competities op nieuwere versies van bovengenoemde spelletjes, waarmee we <strong>ZEKER NIET</strong> zeggen dat er geen good-old aoe2 of cod2 meer gespeeld zal worden!<br />
<br />
<br />
De registraties zullen open zijn vanaf vrijdag. Hou de website dus zeker in het oog!</div></div> 
			</td>
		</tr>
		<tr>
			<td align=right>
				<div class='messageTitle'><div class='msgTitle'> By Infogroep on 16 January 2012. </div></div>
			</td>
		</tr>
	</table>
	<center><hr width=300></center>
</div>
        	</div>
        </div>
        
        <div id="right">
			<h2>Login</h2>
			            <form action="index.php" class="rightcontent" method="post">
            	<label>Username</label><br />
                <input type="text" name="username" size=15 /><br />
                <label>Paswoord</label><br />
                <input type="password" name="password" size=15 /><br />
                <input name="inlog-submit" class="button" type="submit" value="Login" />
            </form>
                        <h2>Informatie</h2>
			<ul class="rightcontent">
					<li>
						<strong>Next event:</strong>
						ILAN 2012					</li>
					<li>
						<strong>Registrations: </strong>
						closed					</li>
					<li>
						<strong>Location:</strong>
						VUB Mandela					</li>
					<li>
						<strong>Datum:</strong>
						17/2 - 18/2 - 19/2					</li>
			</ul>
            
            <h2>Inschrijvingen</h2>
			<ul class="rightcontent">
								<li><strong>Geregistreerd:</strong> 34</li>
								<li><strong>-- Weekend:</strong> 33</li>
								<li><strong>-- Enkel zaterdag:</strong> 1</li>
								<li><strong>-- Enkel zondag:</strong> 0</li>
								<li><strong>Betaald:</strong> 29/50 </li>
            </ul>

				<h2>Sponsors</h2>
				<ul>
    		</ul>
    		<br />

			<h2>Poll</h2>
    			<div class='rightcontent' >
<ul>
<strong>Favourite Compo Genre</strong>
<li>Shooter <span class='count'>(4)</span></li>
<li>Racer <span class='count'>(1)</span></li>
<li>RTS <span class='count'>(1)</span></li>
<li>Fun <span class='count'>(2)</span></li>
</ul>
</div>
    			

    		
        </div>
    
        <br /><div class="hr1">
            <hr />
        </div>
    
    
        <div id="footer">
            <ul>
                <li class="first"><a href="index.php" title="Terug naar de homepage">Home</a></li>
                <li><a href="event.php" title="Event informatie">Event</a></li>
                <li><a href="register.php" title="Registration">Registration</a></li>
				<li><a href="participants.php" title="Wie reeds deel neemt">Deelnemers</a></li>
                <li><a href="compos.php" title="Competities tijdens het event">Compo's</a></li>
				<li><a href="location.php" title="Wegaanduidingen">Bereikbaarheid</a></li>
                <li><a href="contact.php" title="Vragen? laat ons iets weten">Contacteer ons</a></li>

            </ul>
            <!--p>Copyright &copy; 2006 Sitename.com. Designed by <a href="http://www.freecsstemplates.org" class="link1">Free CSS Templates</a></p-->
        </div>
    </div>
</body>
</html>

