<div id="header">
	<table class='topbanner'>
		<tr>
			<td><%= link_to image_tag("iglogo.png", :alt => "Infogroep Logo"),"http://infogroep.be" %></td>
			<td width=20></td>
			<td><%= image_tag("logo2009_small.png") %></td>
			<td width=20></td>
			<td width=20></td>
			<td align='right'>
				<h1>ILAN</h1>
				<h2>Infogroep LAN-party event</h1>
				<h3>17/2 - 18/2 - 19/2</h1>
				<h3>VUB Mandela</h1>
			</td>
		</tr>
	</table>
</div>

