<div id="right">
	<h2>Login</h2>
	<form action="index.php" class="rightcontent" method="post">
		<label>Username</label><br>
		<input type="text" name="username" size="15"><br>
		<label>Paswoord</label><br>
		<input type="password" name="password" size="15"><br>
		<input name="inlog-submit" class="button" type="submit" value="Login">
	</form>
	<h2>Informatie</h2>
	<ul class="rightcontent">
		<li>
			<strong>Next event:</strong>
			ILAN 2012</li>
		<li>
			<strong>Registrations: </strong>
			closed</li>
		<li>
			<strong>Location:</strong>
			VUB Mandela</li>
		<li>
			<strong>Datum:</strong>
			17/2 - 18/2 - 19/2</li>
	</ul>

	<h2>Inschrijvingen</h2>
	<ul class="rightcontent">
		<li><strong>Geregistreerd:</strong> 34</li>
		<li><strong>-- Weekend:</strong> 33</li>
		<li><strong>-- Enkel zaterdag:</strong> 1</li>
		<li><strong>-- Enkel zondag:</strong> 0</li>
		<li><strong>Betaald:</strong> 29/50 </li>
	</ul>
	
	<h2>Sponsors</h2>
	<ul>
	</ul>
	<br>
	
	<h2>Poll</h2>
	<div class="rightcontent">
		<ul>
		<strong>Favourite Compo Genre</strong>
			<li>Shooter <span class="count">(4)</span></li>
			<li>Racer <span class="count">(1)</span></li>
			<li>RTS <span class="count">(1)</span></li>
			<li>Fun <span class="count">(2)</span></li>
		</ul>
	</div>
</div>
